.countriesContainer {
  height: 100vh;
  overflow-y: auto; /* allows scrolling if content overflows */
  padding-bottom: 2rem;
}

.countryList {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 0 30px;
  list-style: none;
}

.country {
  width: 100%;
  max-width: 200px;
  height: 230px;
  border: 1px solid #d3d5fd;
  box-shadow: 0px 0px 7px #d7d388;
  background: #e2e4ff53;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  align-self: center;
}

.info {
  flex-shrink: 0;
}

p {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

h2 {
  font-size: 1rem;
  overflow-wrap: break-word;
}

.flag {
  width: 80px;
  height: 60px;
  object-fit: contain;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

span {
  font-size: 0.75rem;
}

button {
  padding: 5px 8px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.75rem;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 7px #d7d388;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Heart/Favorite button as background image */
.favoriteBtn {
  appearance: none;
  filter: invert(1);
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background: url("/heart-empty.png") no-repeat center/contain;
}

.favoriteBtn:checked {
  filter: invert(0);
  background: url("/heart-filled.png") no-repeat center/contain;
}

.favoriteLbl {
  margin-top: 5px;
  display: inline-flex;
  flex-shrink: 0;
  border: none;
}

.flagModal {
  width: 180px;
  margin-bottom: 10px;
}

.modalContent {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .country {
    max-width: 180px;
    height: 220px;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    margin-top: 0.25rem;
  }

  .flag {
    width: 80px;
    height: 60px;
  }
}

@media screen and (max-width: 550px) {
  .country {
    width: 90%;
    max-width: 340px;
    height: 100px;
    padding: 0.75rem;
    flex-direction: row;
    text-align: left;
  }

  .flag {
    width: 80px;
    height: 80px;
  }

  .countryList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    gap: 1rem;
  }

  h2 {
    font-size: 0.75rem;
  }
}
