@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: url("public/background.jpg");
*/
  background: #0f0f0f;
  font-family: "Roboto", sans-serif;
}
