@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: url("public/background.jpg");
*/
  background: #0f0f0f;
  font-family: "Manrope", sans-serif;
  padding: 10px 20px 20px 20px;
}
